
.sidebar > h1 {
    max-width: 50%;
}


#navbar {
    font-size: 18px;
    line-height: 42px;
    font-style: italic;
}



.sidebar-toggle {
    bottom: unset;
}

.sidebar {
    padding-top: 40px !important;
}


@media screen and (min-width: 768px) {
    .sidebar-toggle-button {
        display: none;
    }

    body .content {
        transform: translateX(300px);
    }

    body.close .sidebar {
        transform: translateX(0);
    }

}
